<h1>Listing courses</h1>

<table>
  <thead>
    <tr>
      <th>Course name</th>
      <th>Students</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td>
          <% course.enrollments.each do |enrollment| %>
            <%= enrollment.student.name %>
            <%= enrollment.enrollment_date %>
          </br>
          <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Course', new_course_path %>
<%= link_to 'New Student', new_student_path %>
<%= link_to 'New Enrolment', new_enrollment_path %>

